<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--Enables responsive mode-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/js/moment.min.js"></script>
        {% if title %}
            <title>{{ title }} - microblog</title>
        {% else %}
        <title>{{ _('Welcome to microblog') }}</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--for mobile toggle buttons, target point to the .navbar-collapse list -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Micro Blog</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
                        {% if g.user.is_authenticated %}
                        <li><a href="{{ url_for('user', nickname=g.user.nickname )}}">{{ _('Your Profile') }}</a></li>
                        <li><a href="{{ url_for('user_list') }}">{{ _('User List') }}</a></li>
                        <li><a href="{{ url_for('logout' )}}">{{ _('Logout') }}</a></li>
                        {% endif %}
                    </ul>
                    <!--<div class="nav-collapse collapse">-->
                    <!--</div>-->
                </div>
            </div> <!-- /.container-fluid -->
        </nav> <!--end of navbar -->
        <div class="container">
            <div class="row">
                <div class="span12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="/static/js/translate.js"></script>
    {% if g.locale != 'en' %}
    <script src="/static/js/moment-{{ g.locale }}.min.js"></script>
    {% endif %}
</html>
