{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>OAuth Login</title>
    </head>
    <body>
        <h1>{{ _('Please Sign In') }}</h1>
        {% include 'flash.html' %}
        <div class="well">
            <div class="help-block">{{ _('Click on your social ID') }}</div>
            <div class="control-group">
                <a href="{{ url_for('oauth_authorize', provider='facebook')}}"><img src="/static/img/facebook.png" class="img-polaroid" style="margin:2px;width:64px"/></a>
                <a href="{{ url_for('oauth_authorize', provider='twitter') }}"><img src="/static/img/twitter.png" class="img-polaroid" style="margin:2px;width:64px"/></a>
            </div>
        </div>
    </body>
</html>
{% endblock %}
