{% extends "base.html" %}
{% block content %}
    {% if users %}
        {% for user in users %}
            {% if user != g.user %}
            <div class="well col-md-12 col-xs-12">
                <div class="pull-right">
                    <img src="{{user.avatarLarge}}" class="img-rounded pull-right" style="width:auto; max-height:200px">
                </div>
                <h1>{{user.nickname}}</h1>
                {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                {% if user.last_seen %}<p><em>{{ _('Last seen on:') }} {{ momentjs(user.last_seen).calendar() }}</em></p>{% endif %}
                <p>{{ _('Followers:') }} {{user.followers.count() - 1}} | {{ _('Following:') }} {{user.followed.count() - 1}} |
                {% if user.id == g.user.id %}
                <a href="{{url_for('edit')}}">{{ _('Edit your profile') }}</a>
                {% elif not g.user.is_following(user) %}
                <a href="{{url_for('follow', nickname = user.nickname)}}">{{ _('Follow') }}</a>
                {% else %}
                <a href="{{url_for('unfollow', nickname = user.nickname)}}">{{ _('Unfollow') }}</a>
                {% endif %}
                </p>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
