{% extends "base.html" %}
{% block content %}
    {% if users %}
        {% for user in users %}
            {% if user != g.user %}
            <div class="swell">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="well">
                            <div class="pull-right">
                                <img src="{{user.avatarLarge}}" class="img-polaroid" style="max-width: 80%">
                            </div>
                            <h1>{{user.nickname}}</h1>
                            {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                            {% if user.last_seen %}<p><em>{{ _('Last seen on:') }} {{ momentjs(user.last_seen).calendar() }}</em></p>{% endif %}
                            <p>{{ _('Followers:') }} {{user.followers.count() - 1}} | {{ _('Following:') }} {{user.followed.count() - 1}} |
                            {% if user.id == g.user.id %}
                            <a href="{{url_for('edit')}}">{{ _('Edit your profile') }}</a>
                            {% elif not g.user.is_following(user) %}
                            <a href="{{url_for('follow', nickname = user.nickname)}}">{{ _('Follow') }}</a>
                            {% else %}
                            <a href="{{url_for('unfollow', nickname = user.nickname)}}">{{ _('Unfollow') }}</a>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
